.section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image.map {
  object-fit: cover;
  height: 60vh;
  position: fixed;
  top: 20vh;
  z-index: -1;
  right: 10vw;
}

.button-container {
  display: flex;
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 0;
}

.section.one h2 {
  font-size: 1.4rem;
  margin-bottom: 50px;
  opacity: .8;
}

.section.one p {
  opacity: .9;
}

.section.one {
  justify-content: left;
  min-height: 92vh;
}

.main-page-content {
  display: flex;
  justify-content: space-between;
}

.main-page-content.top {
  margin-bottom: 30px;
}

.main-page-content .left {
  max-width: 600px;
  text-align: left;
}

.button.lets-go {
  margin: 0;
  width: 120px;
  padding: 10px;
  font-size: 1.2rem;
  margin-right: 10px;
}


.section.two {
  /* border-top: solid rgba(255, 255, 255, 0.179) 1px; */
  /* background-color: black; */
  z-index: 0;
}

.section.two h2 {
  text-align: center;
}

.method-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.method-card {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;

  width: 300px;
  height: 200px;
  padding: 30px;
  background: linear-gradient( 45deg, #0400ffc0, #ef00fcce);
  border-radius: 10px;
  margin: 40px;
}

.button.test {
  height: 40px;
  margin: auto auto 0 auto;
}
