.page-title {
  text-align: center;
  color: #264653;
  font-size: 4rem;
  margin: 0;
}

.button {
  margin: 20px auto;
  background-color: #ffbf4b;
  background-image:  #ffbf4b;
  border-radius: 5px;
  border: none;
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  justify-content: right;
  margin: 20px;
}

.form-label {
  margin-right: 10px;
  color: white;
  font-size: 1.4rem;
}

.form-input {
  width: 200px;
  height: 30px;
}

Form {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient( 45deg, #0400ffc0, #ef00fcce);
  padding: 80px;
}

.form-alert {
  color: white;
  padding-left: 10px;
  margin: 0;
}

.subheader {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}
